.note-catcher {
  position: relative;
  .floating-add-note-inputs {
    position: absolute;
    bottom: 0px;
    right: 18px;
  }
  .note-pad {
    position: relative;
    height: 100%;
    overflow: auto;
    .note-pad-overflow-content {
      .formfield-holder {
        position: absolute;
        .menu {
          position: absolute;
          right: 0;
          transform: translateX(50%);
        }
        .move-field {
          position: absolute;
          left: 0;
          transform: translateX(-50%);
        }
      }
    }
  }
}

// placed outside because the menu is a react portal
.note-catcher-form-field-menu-icon {
  width: 35px;
  display: inline-flex;
}
