.note-catcher {
  position: relative;
  .floating-add-note-inputs {
    position: absolute;
    bottom: 0px;
    right: 18px;
  }
  .note-pad {
    position: relative;
    height: 100%;
    overflow: auto;
    .note-pad-overflow-content {
      .formfield-holder {
        position: relative;
        .menu {
          position: absolute;
          right: 0;
          transform: translateX(50%);
        }
        .move-field {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        .resize-left {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        .resize-right {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(50%, -50%);
        }
        .resize-done {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  &.reposition-form-fields-enabled {
    .note-pad {
      .note-pad-overflow-content {
        .formfield-holder {
          z-index: -1;
        }
      }
    }
  }
}

// placed outside because the menu is a react portal
.note-catcher-form-field-menu-icon {
  width: 35px;
  display: inline-flex;
}
