.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links-group {
  list-style: none;
  text-align: center;
  padding: 0;
}

.container {
  --header-height: 80px;
  --footer-height: 70px;
  position: absolute;
  width: 100%;
  height: 100%;
  main {
    height: calc(100% - var(--header-height) - var(--footer-height));
    p {
      text-align: center;
    }
  }
  footer {
    padding: 10px;
    a {
      color: var(----black-sm);
    }
    .logo {
      width: unset;
      height: 1em;
    }
  }
}

.file-upload-custom-button {
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  position: relative;
  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  ul {
    padding: 0 20px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-holder {
      display: flex;
      margin-right: 5px;
    }
  }
}
