.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links-group {
  list-style: none;
  text-align: center;
  padding: 0;
}

.container {
  --header-height: 80px;
  --nav-height: 70px;
  --footer-height: 60px;
  position: absolute;
  width: 100%;
  height: 100%;
  header {
    text-align: center;
    padding: 10px;
    .app-logo {
      width: 60px;
    }
  }
  main {
    height: calc(
      100% - var(--header-height) - var(--nav-height) - var(--footer-height)
    );
    p {
      text-align: center;
    }
  }
  footer {
    padding: 10px;
    a {
      color: var(----black-sm);
    }
    .logo {
      height: 1em;
    }
  }
}
